<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
	body
		.container
			.row
				.col-md-4
					form
						.form-group
							label Existing Card
							.input-group
								.input-group-addon.custom-radio
									input(type="radio" name="ccr" id="existing")
									label(for="existing") Existing
								select.form-control
									option ******1232
									option ******4513
						.form-group
							label New Credit Card
							.input-group
								.input-group-addon.custom-radio
									input(type="radio" name="ccr" id="newccr")
									label(for="newccr") New
								input.form-control(type="text") 
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	